{% extends 'base.html.twig' %}

{% block title %}Tareas por hacer{% endblock %}

{% block body %}
    <h4>Tareas por Hacer</h4>
    {% include "comunes/_mensajes.html.twig" %}
    <table role="grid">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for index, tarea in tareas %}
            <tr>
                <th scope="row">{{ index + 1 }}</th>
                <td>{{tarea.descripcion}}</td>
                <td>
                    <a href="{{path('app_editar_con_params_convert', {'id' : tarea.id}) }}" style='margin-right: 20px'> <u>Editar</u></a>
                    <a href="{{path('app_eliminar_tarea', {'id' : tarea.id}) }}" style='text-decoration:none'> <del>Eliminar</del></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <th>No se han encontrado resultados</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
